


<%- include('./includes/header') %>


<% posts.forEach(post=>{ %>

<!-- <h1><%=post._id%></h1>
 -->
<br><br>
<div class="container center"> 
 <div class="row center">
    <div class="col s12 m6 center">
      <div class="card  center">
        <div class="card-content">
          <span class="card-title"><%=post.title%></span>
          <p><%=post.content%></p>
        </div>
        <div class="card-action">
           <a href="/<%= post._id %>">Read More</a>
 
        </div>
      </div>
    </div>
    <div class="col s5 m6 center">

      <img class="circle" src="../uploads/<%=post.images[0]%>" height="200" width="200" />

  </div>  </div>

</div>



<%})%>


<%- include('./includes/footer') %>